@page "/application/configuration/{Id:guid}"
@using NummyShared.DTOs
@using NummyShared.DTOs.Enums

<Card>
    <GridRow>
        <Title Level="2" Style="margin-bottom: 8px">Configurations</Title>
    </GridRow>
    <GridRow>
        <Text Type="TextElementType.Secondary" Style="color: #00A0E9">Manage Your application's package configurations
        </Text>
    </GridRow>
    <GridRow>
        <Title Level="4" Style="margin: 40px 0 25px;">Application Details</Title>
    </GridRow>
    <GridRow>
        <Text Strong>Name</Text>
        <Input ReadOnly Value="@application.Name" Style="margin-bottom: 15px; margin-top: 8px"/>
    </GridRow>
    <GridRow>
        <Text Strong>Description</Text>
        <TextArea ReadOnly Rows="3" Value="@application.Description"
                  Style="margin-bottom: 15px; margin-top: 8px"></TextArea>
    </GridRow>
    <GridRow>
        <Text Strong>Created At</Text>
        <Input ReadOnly Value="@application.CreatedAt" Style="margin-bottom: 15px; margin-top: 8px"/>
    </GridRow>
    <GridRow>
        <Text Strong>Stack</Text>
    </GridRow>
    <GridRow Style="display: flex; align-items: center; margin-bottom: 15px; margin-top: 8px;">
        <GridCol>
            <Avatar Shape="AvatarShape.Square"
                    Src="@("data:image/svg+xml;utf8," + Uri.EscapeDataString(application.Stack.IconSvg))"
                    Size="@("2.3em")"
                    Style="margin-right: 10px">
            </Avatar>
        </GridCol>
        <GridCol>
            <Text>@application.Stack.Title</Text>
        </GridCol>
    </GridRow>
    <GridRow>
        <Title Level="4" Style="margin: 40px 0 25px;">Connected Packages</Title>
    </GridRow>

    <GridRow Style="margin-bottom: 20px;">
        <div @onclick="toggleShowEx" style="cursor: pointer">
            <Card BodyStyle="padding: 20px" Bordered Style="border-color: red; border-radius: 4px;">
                <GridRow>
                    <GridCol>
                        <Avatar Shape="AvatarShape.Square"
                                Src="https://api.nuget.org/v3-flatcontainer/nummy.exceptionhandler/1.5.0/icon"
                                Size="@("2.9em")"
                                Style="margin-right: 20px; border-radius: 4px">
                        </Avatar>
                    </GridCol>
                    <GridCol>
                        <Title Level="3">Nummy.ExceptionHandler</Title>
                        <Text Type="TextElementType.Secondary">A .NET Core library for global exception handling in your
                            application.
                        </Text>
                        <Collapse DefaultActiveKey="@(_showEx ? ["1"] : [])" Style="margin-top: 16px">
                            <Panel Key="1" ShowArrow="false" Header="Configuration Steps">
                                <Steps Current="exceptionHandlerStep" OnChange="onExceptionHandlerStepChange"
                                       Direction="vertical" Class="site-navigation-steps">
                                    <Step Title="Install" Description="Install-Package Nummy.ExceptionHandler">
                                        <DescriptionTemplate>
                                            <Text>Run the following command in Package Manager Console:</Text>
                                            <pre
                                                style="background: #f5f5f5; padding: 15px; border-radius: 4px; margin-top: 10px;">
Install-Package Nummy.ExceptionHandler</pre>
                                        </DescriptionTemplate>
                                    </Step>
                                    <Step Title="Using" Description="using Nummy.ExceptionHandler.Extensions;">
                                        <DescriptionTemplate>
                                            <Text>Add the following using statement at the top of your Program.cs:
                                            </Text>
                                            <pre
                                                style="background: #f5f5f5; padding: 15px; border-radius: 4px; margin-top: 10px;">
using Nummy.ExceptionHandler.Extensions;</pre>
                                        </DescriptionTemplate>
                                    </Step>
                                    <Step Title="Configure" Description="Add services in Program.cs">
                                        <DescriptionTemplate>
                                            <Text>Add the following configuration in your Program.cs:</Text>
                                            <pre
                                                style="background: #f5f5f5; padding: 15px; border-radius: 4px; margin-top: 10px;">
builder.Services.AddNummyExceptionHandler(options =>
{
    options.HandleException = true;
    options.Response = new { message = "An error occurred" };
    options.ResponseStatusCode = HttpStatusCode.BadRequest;
    options.DsnUrl = "your-nummy-dsn-url"
});</pre>
                                        </DescriptionTemplate>
                                    </Step>
                                    <Step Title="Middleware" Description="Add middleware in Program.cs">
                                        <DescriptionTemplate>
                                            <Text>Add the following middleware in your Program.cs after building the
                                                app:
                                            </Text>
                                            <pre
                                                style="background: #f5f5f5; padding: 15px; border-radius: 4px; margin-top: 10px;">
var app = builder.Build();
app.UseNummyExceptionHandler();</pre>
                                        </DescriptionTemplate>
                                    </Step>
                                </Steps>
                            </Panel>
                        </Collapse>
                    </GridCol>
                </GridRow>
            </Card>
        </div>
    </GridRow>

    <GridRow Style="margin-bottom: 20px;">
        <div @onclick="toggleShowCodeLogger" style="cursor: pointer">
            <Card BodyStyle="padding: 20px" Bordered Style="border-color: red; border-radius: 4px;">
                <GridRow>
                    <GridCol>
                        <Avatar Shape="AvatarShape.Square"
                                Src="https://api.nuget.org/v3-flatcontainer/nummy.codelogger/1.5.0/icon"
                                Size="@("2.9em")"
                                Style="margin-right: 20px; border-radius: 4px">
                        </Avatar>
                    </GridCol>
                    <GridCol>
                        <Title Level="3">Nummy.CodeLogger</Title>
                        <Text Type="TextElementType.Secondary">A .NET Core library for code logging and monitoring.
                        </Text>
                        <Collapse DefaultActiveKey="@(_showCodeLogger ? ["1"] : [])" Style="margin-top: 16px">
                            <Panel Key="1" ShowArrow="false" Header="Configuration Steps">
                                <Steps Current="codeLoggerStep" OnChange="onCodeLoggerStepChange" Direction="vertical"
                                       Class="site-navigation-steps">
                                    <Step Title="Install" Description="Install-Package Nummy.CodeLogger">
                                        <DescriptionTemplate>
                                            <Text>Run the following command in Package Manager Console:</Text>
                                            <pre
                                                style="background: #f5f5f5; padding: 15px; border-radius: 4px; margin-top: 10px;">
Install-Package Nummy.CodeLogger</pre>
                                        </DescriptionTemplate>
                                    </Step>
                                    <Step Title="Using" Description="using Nummy.CodeLogger.Extensions;">
                                        <DescriptionTemplate>
                                            <Text>Add the following using statement at the top of your Program.cs:
                                            </Text>
                                            <pre
                                                style="background: #f5f5f5; padding: 15px; border-radius: 4px; margin-top: 10px;">
using Nummy.CodeLogger.Extensions;</pre>
                                        </DescriptionTemplate>
                                    </Step>
                                    <Step Title="Configure" Description="Add services in Program.cs">
                                        <DescriptionTemplate>
                                            <Text>Add the following configuration in your Program.cs:</Text>
                                            <pre
                                                style="background: #f5f5f5; padding: 15px; border-radius: 4px; margin-top: 10px;">
builder.Services.AddNummyCodeLogger(options =>
{
    options.DsnUrl = "your-nummy-dsn-url";
    options.EnableConsoleLogging = true;
});</pre>
                                        </DescriptionTemplate>
                                    </Step>
                                    <Step Title="Middleware" Description="Add middleware in Program.cs">
                                        <DescriptionTemplate>
                                            <Text>Add the following middleware in your Program.cs after building the
                                                app:
                                            </Text>
                                            <pre
                                                style="background: #f5f5f5; padding: 15px; border-radius: 4px; margin-top: 10px;">
var app = builder.Build();
app.UseNummyCodeLogger();</pre>
                                        </DescriptionTemplate>
                                    </Step>
                                </Steps>
                            </Panel>
                        </Collapse>
                    </GridCol>
                </GridRow>
            </Card>
        </div>
    </GridRow>

    <GridRow Style="margin-bottom: 20px;">
        <div @onclick="toggleShowHttpLogger" style="cursor: pointer">
            <Card BodyStyle="padding: 20px" Bordered Style="border-color: red; border-radius: 4px;">
                <GridRow>
                    <GridCol>
                        <Avatar Shape="AvatarShape.Square"
                                Src="https://api.nuget.org/v3-flatcontainer/nummy.httplogger/1.5.0/icon"
                                Size="@("2.9em")"
                                Style="margin-right: 20px; border-radius: 4px">
                        </Avatar>
                    </GridCol>
                    <GridCol>
                        <Title Level="3">Nummy.HttpLogger</Title>
                        <Text Type="TextElementType.Secondary">A .NET Core library for HTTP request/response logging.
                        </Text>
                        <Collapse DefaultActiveKey="@(_showHttpLogger ? ["1"] : [])" Style="margin-top: 16px">
                            <Panel Key="1" ShowArrow="false" Header="Configuration Steps">
                                <Steps Current="httpLoggerStep" OnChange="onHttpLoggerStepChange" Direction="vertical"
                                       Class="site-navigation-steps">
                                    <Step Title="Install" Description="Install-Package Nummy.HttpLogger">
                                        <DescriptionTemplate>
                                            <Text>Run the following command in Package Manager Console:</Text>
                                            <pre
                                                style="background: #f5f5f5; padding: 15px; border-radius: 4px; margin-top: 10px;">
Install-Package Nummy.HttpLogger</pre>
                                        </DescriptionTemplate>
                                    </Step>
                                    <Step Title="Using" Description="using Nummy.HttpLogger.Extensions;">
                                        <DescriptionTemplate>
                                            <Text>Add the following using statement at the top of your Program.cs:
                                            </Text>
                                            <pre
                                                style="background: #f5f5f5; padding: 15px; border-radius: 4px; margin-top: 10px;">
using Nummy.HttpLogger.Extensions;</pre>
                                        </DescriptionTemplate>
                                    </Step>
                                    <Step Title="Configure" Description="Add services in Program.cs">
                                        <DescriptionTemplate>
                                            <Text>Add the following configuration in your Program.cs:</Text>
                                            <pre
                                                style="background: #f5f5f5; padding: 15px; border-radius: 4px; margin-top: 10px;">
builder.Services.AddNummyHttpLogger(options =>
{
    options.DsnUrl = "your-nummy-dsn-url";
    options.LogRequestBody = true;
    options.LogResponseBody = true;
});</pre>
                                        </DescriptionTemplate>
                                    </Step>
                                    <Step Title="Middleware" Description="Add middleware in Program.cs">
                                        <DescriptionTemplate>
                                            <Text>Add the following middleware in your Program.cs after building the
                                                app:
                                            </Text>
                                            <pre
                                                style="background: #f5f5f5; padding: 15px; border-radius: 4px; margin-top: 10px;">
var app = builder.Build();
app.UseNummyHttpLogger();</pre>
                                        </DescriptionTemplate>
                                    </Step>
                                </Steps>
                            </Panel>
                        </Collapse>
                    </GridCol>
                </GridRow>
            </Card>
        </div>
    </GridRow>
</Card>

@code {
    [Parameter] public Guid Id { get; set; }

    int exceptionHandlerStep { get; set; } = 0;
    int codeLoggerStep { get; set; } = 0;
    int httpLoggerStep { get; set; } = 0;

    bool _showEx = false;
    bool _showCodeLogger = false;
    bool _showHttpLogger = false;

    void onExceptionHandlerStepChange(int current)
    {
        exceptionHandlerStep = current;
    }

    void onCodeLoggerStepChange(int current)
    {
        codeLoggerStep = current;
    }

    void onHttpLoggerStepChange(int current)
    {
        httpLoggerStep = current;
    }

    void toggleShowEx()
    {
        _showEx = !_showEx;
        _showCodeLogger = false;
        _showHttpLogger = false;
    }

    void toggleShowCodeLogger()
    {
        _showCodeLogger = !_showCodeLogger;
        _showEx = false;
        _showHttpLogger = false;
    }

    void toggleShowHttpLogger()
    {
        _showHttpLogger = !_showHttpLogger;
        _showEx = false;
        _showCodeLogger = false;
    }

    private ApplicationToListDto application = new ApplicationToListDto(Guid.NewGuid(),
        "qweqwe", "qweqwe", DateTimeOffset.Now,
        new ApplicationStackToListDto(Guid.NewGuid(), ApplicationStackType.CSharp,
            "ASDASD", "ASDSAD"));

}