@namespace NummyUi.Pages.Application
@page "/application"
@using NummyShared.DTOs

<Spin Spinning="@_applicationsLoading">
    <ChildContent>
        <Space Direction="DirectionVHType.Vertical" Style="width: 100%">
            <SpaceItem>
                <Button Type="@ButtonType.Primary" OnClick="() => ShowModal()">
                    <Icon Type="plus" Theme="outline"/>
                    Add Application
                </Button>
            </SpaceItem>
            <SpaceItem>
                <AntList Grid="_grid" DataSource="@Applications">
                    <ListItem>
                        <Card Bordered
                              Hoverable
                              BodyStyle="padding-bottom: 20px;"
                              Actions="GetActions(context)">
                            <CardMeta>
                                <AvatarTemplate>
                                    <Avatar Size="small" Style="@($"background-color: {context.AvatarColorHex}")">
                                        @context.Name[0].ToString().ToUpper()
                                    </Avatar>
                                </AvatarTemplate>
                                <TitleTemplate>@context.Name</TitleTemplate>
                                <DescriptionTemplate>@context.Description</DescriptionTemplate>
                            </CardMeta>
                            <div class="cardItemContent">
                                <div class="cardInfo">
                                    <div>
                                        <p>Created At</p>
                                        <p>@context.CreatedAt.ToString("g")</p>
                                    </div>
                                </div>
                            </div>
                        </Card>
                    </ListItem>
                </AntList>
            </SpaceItem>
        </Space>
    </ChildContent>
</Spin>

<Modal Title="@(IsEdit ? "Edit Application" : "Add Application")"
       Visible="@_isTeamEditOrAddModalVisible"
       OnOk="@HandleOk"
       OnCancel="@HandleCancel"
       OkText="@(IsEdit ? "Update" : "Add")"
       CancelText="@("Cancel")">
    <Form Model="@Model" LabelCol="new ColLayoutParam { Span = 6 }"
          WrapperCol="new ColLayoutParam { Span = 18 }">
        <FormItem Label="Name">
            <Input @bind-Value="@Model.Name" Placeholder="Enter application name"/>
        </FormItem>
        <FormItem Label="Description">
            <TextArea @bind-Value="@Model.Description" Placeholder="Enter application description"></TextArea>
        </FormItem>
    </Form>
</Modal>

@code {

    private RenderFragment<ApplicationToListDto> Edit => ctx => @<AntDesign.Tooltip Title="Edit">
                                                                    <Icon Type="edit" Theme="@IconThemeType.Outline"
                                                                          OnClick="@(() => ShowModal(true, ctx))"/>
                                                                </AntDesign.Tooltip>;

    private RenderFragment<ApplicationToListDto> Delete => ctx => @<AntDesign.Tooltip Title="Delete">
                                                                      <Popconfirm Title="Are you sure delete this application?"
                                                                                  OkText="Yes"
                                                                                  CancelText="No"
                                                                                  OnConfirm="@(() => OnDelete(ctx.Id))">
                                                                          <Icon Type="delete" Style="color: red"
                                                                                Theme="@IconThemeType.Outline"/>
                                                                      </Popconfirm>
                                                                  </AntDesign.Tooltip>;

    private IList<RenderFragment> GetActions(ApplicationToListDto context)
    {
        return new List<RenderFragment>
        {
            Edit(context),
            Delete(context),
        };
    }

}

<style>
    .cardItemContent {
        margin-top: 16px;
    }

    .cardInfo {
        display: flex;
        justify-content: space-between;
    }

    .cardInfo p {
        margin: 0;
    }

    .cardInfo p:first-child {
        color: rgba(0, 0, 0, 0.45);
    }
</style>