@namespace NummyUi.Pages.Application
@page "/application"
@using NummyShared.DTOs
@using NummyShared.DTOs.Enums
@using NummyUi.Components

<Spin Spinning="@_applicationsLoading">
    <ChildContent>
        <Space Direction="DirectionVHType.Vertical" Style="width: 100%">
            <SpaceItem>
                <AddButton OnClick="@(() => ShowModal())"
                           Title="Create Application"
                           Description="Click to create a new application">
                </AddButton>
            </SpaceItem>
            <SpaceItem>
                <AntList Grid="_grid" DataSource="@_applications">
                    <ListItem>
                        <Card Bordered
                              Hoverable
                              BodyStyle="padding-bottom: 20px;"
                              Actions="GetActions(context)">
                            <CardMeta>
                                <AvatarTemplate>
                                    <Avatar Shape="AvatarShape.Square"
                                            Src="@("data:image/svg+xml;utf8," + Uri.EscapeDataString(context.Stack.IconSvg))"
                                            Size="@("2.6em")">
                                    </Avatar>
                                </AvatarTemplate>
                                <TitleTemplate>@context.Name</TitleTemplate>
                                <DescriptionTemplate>@context.Description</DescriptionTemplate>
                            </CardMeta>
                            <div class="cardItemContent">
                                <div class="cardInfo">
                                    <div>
                                        <p>Created At</p>
                                        <p>@context.CreatedAt.ToString("yyyy MMMM dd")</p>
                                    </div>
                                    <div>
                                        <p>Stack</p>
                                        <p>@context.Stack.Title</p>
                                    </div>
                                </div>
                            </div>
                        </Card>
                    </ListItem>
                </AntList>
            </SpaceItem>
        </Space>
    </ChildContent>
</Spin>

<Modal Title="@(_isEdit ? "Edit Application" : "Add Application")"
       Visible="@_isTeamEditOrAddModalVisible"
       OnOk="@HandleOk"
       OnCancel="@HandleCancel"
       OkText="@(_isEdit ? "Update" : "Add")"
       CancelText="@("Cancel")">
    <Form @ref="@_addApplicationForm" Model="@_applicationAddModel" LabelCol="new ColLayoutParam { Span = 6 }"
          WrapperCol="new ColLayoutParam { Span = 18 }">
        <FormItem Label="Name">
            <Input @bind-Value="@_applicationAddModel.Name" Placeholder="Enter application name"/>
        </FormItem>
        <FormItem Label="Description">
            <TextArea @bind-Value="@_applicationAddModel.Description" Placeholder="Enter application description"></TextArea>
        </FormItem>
        <FormItem Label="Stack">
            <Select Mode="Single"
                    Placeholder="Select application's stack"
                    @bind-Value="@_applicationAddModel.StackTypeId"
                    TItemValue="Guid"
                    TItem="Guid"
                    Style="width: 100%"
                    EnableSearch
                    Loading="@_stackTypesLoading"
                    AllowClear>
                <SelectOptions>
                    @foreach (var stackType in _stackTypes)
                    {
                        <SelectOption TItemValue="Guid"
                                      TItem="Guid"
                                      Value=@stackType.Id
                                      Label="@stackType.Title"/>
                    }
                </SelectOptions>
            </Select>
        </FormItem>
    </Form>
</Modal>

@code {

    private RenderFragment<ApplicationToListDto> Configuration => ctx => @<AntDesign.Tooltip Title="Configuration">
                                                                    <Icon Type="setting" Theme="@IconThemeType.Fill"
                                                                          OnClick="@(() => NavigateToConfiguration(ctx))"/>
                                                                </AntDesign.Tooltip>;
    
    private RenderFragment<ApplicationToListDto> Edit => ctx => @<AntDesign.Tooltip Title="Edit">
                                                                    <Icon Type="edit" Theme="@IconThemeType.Outline"
                                                                          OnClick="@(() => ShowModal(true, ctx))"/>
                                                                </AntDesign.Tooltip>;

    private RenderFragment<ApplicationToListDto> Delete => ctx => @<AntDesign.Tooltip Title="Delete">
                                                                      <Popconfirm Title="Are you sure delete this application?"
                                                                                  OkText="Yes"
                                                                                  CancelText="No"
                                                                                  OnConfirm="@(() => OnDelete(ctx.Id))">
                                                                          <Icon Type="delete" Style="color: red"
                                                                                Theme="@IconThemeType.Outline"/>
                                                                      </Popconfirm>
                                                                  </AntDesign.Tooltip>;

    private IList<RenderFragment> GetActions(ApplicationToListDto context)
    {
        return new List<RenderFragment>
        {
            Configuration(context),
            Edit(context),
            Delete(context),
        };
    }

}

<style>
    .cardItemContent {
        margin-top: 16px;
    }

    .cardInfo {
        display: flex;
        justify-content: space-between;
    }

    .cardInfo p {
        margin: 0;
    }

    .cardInfo p:first-child {
        color: rgba(0, 0, 0, 0.45);
    }
</style>