@page "/http"
@using NummyShared.Dtos
@using NummyShared.Dtos.Domain
@using AntDesign.TableModels
@using NummyShared.Dtos.Enums
@using NummyUi.Components
@inject ILogService LogService
@inject IStatisticalService StatisticalService
@inject MessageService MessageService

<PageHeader Style="margin-bottom: 16px" Title="HTTP Logs" Subtitle="View and manage http logs."/>

@*<Row Gutter="16">
    <Col Span="6">
        <Card Title="Total Requests">
            <Statistic Value="@_totalCounts.TotalRequests"/>
        </Card>
    </Col>
    <Col Span="6">
        <Card Title="Today's Requests">
            <Statistic Value="@_totalCounts.RequestsToday"/>
        </Card>
    </Col>
    <Col Span="6">
        <Card Title="This Week's Requests">
            <Statistic Value="@_totalCounts.RequestsThisWeek"/>
        </Card>
    </Col>
    <Col Span="6">
        <Card Title="This Hour's Requests">
            <Statistic Value="@_totalCounts.RequestsThisHour"/>
        </Card>
    </Col>
</Row>*@


<Card>
    <Row Style="margin-bottom: 16px">
        <Search Placeholder="Search logs..."
                EnterButton="true"
                OnSearch="@(async (e) => await OnSearch(e))"
                AllowClear/> @*ClassicSearchIcon*@
    </Row>
    <Table TItem="RequestLogToListDto"
           @ref="@_table"
           RowKey="@(x => x.Id.ToString())"
           DataSource="@_requestLogs"
           Total="@_totalCount"
           PageSize="@_pageSize"
           PageIndex="@_pageIndex"
           OnChange="async (e) => await OnTableChange(e)">
        <PropertyColumn Property="@(x => x.Id)" Hidden/>
        <PropertyColumn Property="@(x => x.TraceIdentifier)" Sortable/>
        <PropertyColumn Property="@(x => x.ResponseStatusCode)" Sortable>
            <Template>
                <StatusCodeTag StatusCode="@context.ResponseStatusCode"/>
            </Template>
        </PropertyColumn>
        <PropertyColumn Property="@(x => x.Method)" Sortable/>
        <PropertyColumn Property="@(x => x.Path)" Sortable/>
        <PropertyColumn Property="@(x => x.RemoteIp)" Sortable/>
        <PropertyColumn Property="@(x => x.CreatedAt)" Format="yyyy-MM-dd HH:mm:ss" Sortable/>
        <ActionColumn Title="Action">
            <Button Type="@ButtonType.Link" OnClick="@(async () => await ShowResponse(context))">
                Show Details
            </Button>
        </ActionColumn>
    </Table>
</Card>

<Modal @bind-Visible="_responseModalVisible"
       Title="HTTP Request & Response Details"
       OnOk="CloseResponseModal"
       OnCancel="CloseResponseModal"
       Maximizable="@true"
       Centered="@true"
       DefaultMaximized="@true">
    @if (_responseLog != null)
    {
        <AntDesign.Row Gutter="24">
            <AntDesign.Col Span="12">
                <AntDesign.Card BodyStyle="margin: 16px 24px; padding: 0px;">
                    <TitleTemplate>
                        <Icon Type="@IconType.Outline.Key"/>
                        Details
                    </TitleTemplate>
                    <Body>
                    <AntDesign.Space Direction="DirectionVHType.Vertical">
                        <AntDesign.SpaceItem>
                            <strong>HTTP LogId:</strong>
                            @(_responseLog.HttpLogId)
                        </AntDesign.SpaceItem>
                        <AntDesign.SpaceItem>
                            <strong>HTTP TraceId:</strong>
                            (_responseLog.TraceIdentifier)
                        </AntDesign.SpaceItem>
                    </AntDesign.Space>
                    </Body>
                </AntDesign.Card>
            </AntDesign.Col>
            <AntDesign.Col Span="12">
                <AntDesign.Card BodyStyle="margin: 16px 24px;  padding: 0px;">
                    <TitleTemplate>
                        <Icon Type="@IconType.Outline.Swap"/>
                        Response Details
                    </TitleTemplate>
                    <Body>
                    <AntDesign.Space Direction="DirectionVHType.Vertical">
                        <AntDesign.SpaceItem>
                            <strong>Duration:</strong>
                            @($"{(_responseLog.Duration.Minutes > 0 ? $"{_responseLog.Duration.Minutes} minutes " : string.Empty)}" +
                            $"{(_responseLog.Duration.Seconds > 0 ? $" {_responseLog.Duration.Seconds} seconds " : string.Empty)}" +
                            $"{(_responseLog.Duration.Milliseconds > 0 ? $" {_responseLog.Duration.Milliseconds} milliseconds " : string.Empty)}" +
                            $"({_responseLog.Duration.TotalMilliseconds} ms)")
                        </AntDesign.SpaceItem>
                        <AntDesign.SpaceItem>
                            <strong>Status Code:</strong>
                            <StatusCodeTag StatusCode="@_responseLog.StatusCode"></StatusCodeTag>
                        </AntDesign.SpaceItem>
                    </AntDesign.Space>
                    </Body>
                </AntDesign.Card>
            </AntDesign.Col>
        </AntDesign.Row>
        <br/>
        <AntDesign.Row Gutter="16">
            <AntDesign.Col Span="12">
                <AntDesign.Card Title="Request Body" BodyStyle="margin: 0; padding: 8px;">
                    <SimpleCodeEditor Content="@_requestBody"/>
                </AntDesign.Card>
            </AntDesign.Col>
            <AntDesign.Col Span="12">
                <AntDesign.Card Title="Response Body" BodyStyle="margin: 0; padding: 8px;">
                    <SimpleCodeEditor Content="@_responseBody"/>
                </AntDesign.Card>
            </AntDesign.Col>
        </AntDesign.Row>
        <br/>
        <AntDesign.Row Gutter="16">
            <AntDesign.Col Span="24">
                <AntDesign.Card Title="@($"Logs During This Request - {_codeLogs.Count()}")"
                                BodyStyle="margin: 0; padding: 8px;">
                    <Table TItem="CodeLogToListDto"
                           DataSource="@_codeLogs"
                           RowKey="@(x => x.Id.ToString())">
                        <PropertyColumn Property="@(x => x.LogLevel)" Sortable>
                            <Template>
                                <LogLevelTag LogLevel="@context.LogLevel"></LogLevelTag>
                            </Template>
                        </PropertyColumn>
                        <PropertyColumn Property="@(x => x.Id)" Hidden Sortable/>
                        <PropertyColumn Property="@(x => x.TraceIdentifier)" Sortable/>
                        <PropertyColumn Property="@(x => x.Title)" Sortable/>
                        <PropertyColumn Property="@(x => x.Description)" Sortable/>
                        <PropertyColumn Property="@(x => x.CreatedAt)" Format="yyyy-MM-dd HH:mm:ss" Sortable/>
                    </Table>
                </AntDesign.Card>
            </AntDesign.Col>
        </AntDesign.Row>
    }
</Modal>