@page "/logging/code"
@using System.Web
@using System.Reflection
@using System.ComponentModel
@using NummyApi.Enums

<div>
    <PageContainer Title="Code Logs">
        <Breadcrumb>
            <Breadcrumb>
                <BreadcrumbItem>Logging</BreadcrumbItem>
                <BreadcrumbItem>Code Logs</BreadcrumbItem>
            </Breadcrumb>
        </Breadcrumb>
        <ChildContent>
            <Table
                DataSource="@_codeLogs"
                Total="_total"
                Loading="_loading"
                PageIndex="@_pageIndex"
                PageSize="@_pageSize"
                OnPageIndexChange="PageIndexChanged">
                <PropertyColumn Property="c => c.Id"/>
                @*
                    <PropertyColumn Property="c=>c.Date" Format="yyyy-MM-dd"/>
                    *@
                <PropertyColumn Property="c => c.Title"/>
                <PropertyColumn Title="Temp. (F)" Field="@context.Description"/>
                <PropertyColumn Property="c => c.LogLevel"/>
                <PropertyColumn Property="c=>c.LogLevel">
                    <Tag Color="@(context.LogLevel switch
                                {
                                    CodeLogLevel.Fatal => "magenta",
                                    CodeLogLevel.Error => "volcano",
                                    CodeLogLevel.Warning => "gold",
                                    CodeLogLevel.Debug => "blue",
                                    CodeLogLevel.Trace => "cyan",
                                    CodeLogLevel.Info => "green",
                                    _ => "green"
                                })">@context.LogLevel</Tag>
                </PropertyColumn>
            </Table>
        </ChildContent>
    </PageContainer>
</div>