@page "/logging/code"
@using NummyApi.Enums

<div>
    <PageContainer Title="Code Logs">
        <Breadcrumb>
            <Breadcrumb>
                <BreadcrumbItem>Logging</BreadcrumbItem>
                <BreadcrumbItem>Code Logs</BreadcrumbItem>
            </Breadcrumb>
        </Breadcrumb>
        <ChildContent>
            <Table
                DataSource="@_codeLogs"
                Total="_total"
                Loading="_loading"
                PageIndex="@_pageIndex"
                PageSize="@_pageSize"
                RowKey="x => x.Id"
                OnPageIndexChange="PageIndexChanged"
                RemoteDataSource>
                <Selection Key="@(context.Id.ToString())"/>
                <PropertyColumn Hidden Property="c => c.Id"/>
                <PropertyColumn Property="c => c.LogLevel">
                    <Tag Color="@(context.LogLevel switch { CodeLogLevel.Fatal => "magenta", CodeLogLevel.Error => "volcano", CodeLogLevel.Warning => "gold", CodeLogLevel.Debug => "blue", CodeLogLevel.Trace => "cyan", CodeLogLevel.Info => "green", _ => "green" })">@context.LogLevel</Tag>
                </PropertyColumn>
                <PropertyColumn Property="c => c.Title"/>
                <PropertyColumn Property="c => c.ExceptionType"/>
                <PropertyColumn Property="c => c.CreatedAt" Format="yyyy-MM-dd"/>
                <PropertyColumn Property="c => c.TraceIdentifier"/>
            </Table>
        </ChildContent>
    </PageContainer>
</div>