@namespace NummyUi.Components
@inherits AntDomComponentBase

<Space Size="@("24")"
       Class="header-content"
       Style="width: 100%; height: 58px; display: flex; align-items: center; justify-content: flex-end;">
    <SpaceItem>
        <HeaderSearch Class="action search" Placeholder="Site Search" DefaultValue="umi ui"
                      Options="DefaultOptions"/>
    </SpaceItem>
    <SpaceItem>
        <Tooltip Title="@("Help")" Placement="@Placement.Bottom">
            <Unbound>
                <span @ref="@context.Current" class="action">
                    <Icon Type="question-circle" Theme="outline"/>
                </span>
            </Unbound>
        </Tooltip>
    </SpaceItem>
    <SpaceItem>
        <NoticeIcon ClearText="Empty" ViewMoreText="see more" Count="_count" OnClear="HandleClear"
                    OnViewMore="HandleViewMore">
            <NoticeList TabKey="notification" Title="Notifications" EmptyText="You have viewed all notifications"
                        ShowViewMore Data="_notifications"/>
            <NoticeList TabKey="message" Title="Messages" EmptyText="You have read all messages" ShowViewMore
                        Data="_messages"/>
            <NoticeList TabKey="event" Title="Upcoming" EmptyText="You have completed all to do" ShowViewMore
                        Data="_events"/>
        </NoticeIcon>
    </SpaceItem>
    <SpaceItem>
        <AvatarDropdown Name="@($"{_user!.Name} {_user.Surname}")"
                        Avatar="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcSIK57MZRfv5EA3K1qBxMrUQ0Mc9RtVAvXR4pigpbojuQ&s&ec=72940544"
                        MenuItems="@AvatarMenuItems"
                        OnItemSelected="HandleSelectUser"/>
    </SpaceItem>
    <SpaceItem>
        <SelectLang OnItemSelected="HandleSelectLang"/>
    </SpaceItem>
</Space>